[[source]]
url = "https://pypi.tuna.tsinghua.edu.cn/simple"
verify_ssl = true
name = "pypi"

[packages]
Django = "==2.2.27"
"django-bootstrap4" = "==1.1.1"
mysql-connector = "*"
pymysql = "*"
django-echarts = "*"
requests = "*"
django-tables2 = "*"
django-filter = "*"
pyecharts = "*"
